<footer style="padding-bottom:120px; padding-top: 0;" class="site-footer">

  <div style="position: fixed; bottom: 0; display: inline-block; background-color: #800080; color: white; width: 100%;">
    <p><strong><a style="color: white; text-decoration: underline" href="http://chng.it/YqFpqLTc92">Sign the petition</a></strong> to get @purplestorm2020 removed from Instagram and have its admins burned at the stake!!!</p>
  </div>
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://www.instagram.com/tj_vs_ryan/?hl=en">@tj_vs_ryan</a></li>
        </ul>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
