<header class="site-header">

  <!--div style="position: fixed; right: 0; top:80px; display: inline-block; background-color: #800080; color: white; width: 20%;">
    <p><strong><a style="color: white; text-decoration: underline" href="http://chng.it/YqFpqLTc92">Sign the petition</a></strong> to get @purplestorm2020 removed from Instagram and have its admins burned at the stake!!!</p>
  </div-->
    <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">Where Rugby's Going</a>
    <div style = "font-size:20px" id = "clock">
    <!--script>
      // Set the date we're counting down to
    var countDownDate = new Date("March 17, 2020 15:00:00").getTime();
    var countDownDate2 = new Date("March 22, 2020 15:00:00").getTime();
    // Update the count down every 1 second
    var x = setInterval(function() {
        // Get todays date and time
        var now = new Date().getTime();
        // Find the distance between now an the count down date
        var distance = countDownDate - now;
        var distance2 = countDownDate2 - now;
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
        var days2 = Math.floor(distance2 / (1000 * 60 * 60 * 24));
        var hours2 = Math.floor((distance2 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes2 = Math.floor((distance2 % (1000 * 60 * 60)) / (1000 * 60));
        var seconds2 = Math.floor((distance2 % (1000 * 60)) / 1000);
      
        // Output the result in an element with id="demo"
        if (distance > 0 && distance2 > 0) {
          document.getElementById("clock").innerHTML = "Rugby Coming Home in " + days + " days, " + hours + ":"
          + minutes + ":" + seconds + "hrs" + " and AGAIN in " + days2 + " days, " + hours2 + ":"
          + minutes2 + ":" + seconds2 + "hrs"
        } else if (distance < 0 && distance2 > 0) {
            clearInterval(x);
            document.getElementById("clock").innerHTML = "RUGBY'S COMING HOME!!!";
        } else {
            clearInterval(x);
            document.getElementById("clock").innerHTML = "RUGBY'S COMING HOME...AGAIN!!!";
        }
    }, 1000);
    </script-->
    Rugby's Trips Home Indefinitely Postponed
    </div>
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>
      
      <!--div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}-->
      <div class="trigger">
        <a class="page-link" href="/meettheteam/">Meet The Team</a>
      </div>
    </nav>

  </div>

</header>
